body,h2,h3 {font-family: "Lato", sans-serif;}
	body, html 
	{
		height: 100%;
		color: #777;
		line-height: 1.8;

		.w3-wide {letter-spacing: 10px;}
		.w3-hover-opacity {cursor: pointer;}
	}
	
	
	.bgimg-1, .bgimg-2, .bgimg-3 
	{
		display: block;
		
		margin-left: auto;
		margin-right: auto;
		background-size: 100%;
		background-repeat: no-repeat;
	
	}
	.bgimg-1 
	{
		background-image: url("images/yo.jpg");
		height: 100%;
		width:100%;
		
		

	}
	.w3-wide {letter-spacing: 10px;}
	.w3-hover-opacity {cursor: pointer;}
	
	
	
	#header_ph {
		position: relative;
		left: 38%;
		top: 10px;
		
	}
	
#table
{
		padding:100px;
}

#logout
{
		top:10px;
}

.formElement {
	position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
